

<!DOCTYPE html>
<html>
   <head>
      <title>{% block titre %}Alecsia{% endblock %}</title>

      <meta charset="UTF-8" />
      <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico')  }}" />

      {# CSSs #}
      {% block css %}
         <link href="{{ asset('bundles/annotation/css/reset.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('bundles/annotation/css/text.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('bundles/annotation/css/layout.css') }}" type="text/css" rel="stylesheet" />
         <link href="{{ asset('bundles/annotation/css/external/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
      {% endblock %}
   </head>

   <body>

      {# Flash Message #}
      {% if app.session.flashbag.has('success') %}
         <div class="flash success lookatme">
            <h3>{% for msg in app.session.flashbag.get('success') %} {{ msg }} {% endfor %}</h3>
         </div>
      {% endif %}

      {# Boîte d'erreur #}
      <div class="jqmWindow" id="modal_error">
         <div class="header">
            <h2></h2>
         </div>
         <div class="contenu">
            <p></p>
            <div class="ligne boutons">
               <div class="barre_outils droite">
                  <button class="bouton strong jqmClose initfocus" type="button">OK</button>
               </div>
            </div>
         </div>
      </div>

      {# Boîte de confirmation #}
      <div class="jqmSuperModal" id="modal_confirmation">
         <div class="header">
            <h3>C'est sûr?</h3>
         </div>
         <div class="contenu">
            <p>Blabla</p>
            <div class="ligne boutons">
               <div class="barre_outils droite">
                  <button class="bouton jqmClose" type="button">Annuler</button>
                  <button class="bouton strong jqmClose initfocus" type="button" id="confirm_ok">OK</button>
               </div>

            </div>
         </div>
      </div>

      {# Boîte de notice #}
      <div class="jqmSuperModal" id="modal_notice">
         <div class="header">
            <h3>C'est sûr?</h3>
         </div>
         <div class="contenu">
            <p>Blabla</p>
            <div class="ligne boutons">
               <div class="barre_outils droite">
                  <button class="bouton strong jqmClose initfocus" type="button">OK</button>
               </div>

            </div>
         </div>
      </div>



      {% block modals %}

      {% endblock %}

      {# Corps #}
      {% block body %}

      {% endblock %}


      {# Form for check auth URL #}
      {% if app.user.isTeacher %}
         <form action="">
            <input type="hidden" id="check_auth_url" value="{{ path('AlecsiaCheckConnect') }}" />
         </form>
      {% endif %}

      {# Javascripts #}
      {% block javascripts %}
         <script src="{{ asset('bundles/annotation/js/jquery.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/jqueryui.js') }}"></script>
         {% if app.user.isTeacher %}
            <script src="{{ asset('bundles/annotation/js/RefreshAuth.js') }}"></script>
         {% endif %}
         <script src="{{ asset('bundles/annotation/js/UIElements/autocomplete.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/dd.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/jqmodal.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/modals.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/errors.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/notice.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/tableLignes.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/selectionDependant.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/flashMessages.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/tabbedWidgets.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/multipleActions.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/ActivatorAll.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/annotation/js/UIElements/TextCompletion.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/confirm.js') }}"></script>
         <script src="{{ asset('bundles/annotation/js/UIElements/tooltip.js') }}"></script>
      {% endblock %}



      {# Commandes de démarrage #}
      <script>
         $(function () {
            // Affichage de l'erreur
         {% if app.session.flashbag.has('error') %}
            {% set msg = app.session.flashbag.get('error') %}
                  Errors.show("{{msg['titre']}}", "{{msg['contenu']}}");
         {% endif %}

         {% if app.session.flashbag.has('notice') %}
            {% set msg = app.session.flashbag.get('notice') %}
                  Notice.show("{{msg['titre']}}", "{{msg['contenu']}}");
         {% endif %}

         {% block js_startup %}
         {% endblock %}
            });
      </script>

   </body>
</html>
