{#
    MODAL FORM :
    A form to manage students in a work.
#}

{#
    Required variables
    - work
#}

{#
    Optional variables
#}

{% set GroupStudents = work.group.students %}
{% set workStudents = work.students %}

{% import 'AnnotationBundle:macros:users.html.twig' as user %}

<div class="jqmWindow overflow" id="modal_manage_students">
   <div class="header">
      <h2>Gestion des étudiants</h2>
   </div>
   <div class="contenu">
      <form method="POST" action="{{ path("AlecsiaUpdateStudentsForWork") }}">
         <input type="hidden" name="work_id" value="{{ work.id }}" />
         <div class="widget">
            <div class="header">
               <h3>Propriétaires du rendu</h3>
            </div>
            <div class="content">
               <ul class="checkboxesColumnList" style="padding-bottom: 10px;">
                  {% for s in GroupStudents | strobjectsort(['getLastName', 'getLogin']) %}
                     {% if work.hasStudent(s) %}
                        {% set checkedStatus = 'checked="checked"' %}
                        {% set disabledStatus = '' %}
                     {% else %}
                        {% set checkedStatus = '' %}
                        {% if work.sujet.hasStudentWorkedOnIt(s) %}
                           {% set disabledStatus = 'disabled="disabled"' %}
                        {% else %}
                           {% set disabledStatus = '' %}
                        {% endif %}
                     {% endif %}
                     <li title="{{ s.getAbsoluteDisplayName() }}"><input type="checkbox" name="students[]" value="{{ s.id }}" id="stu{{ s.id }}" {{ checkedStatus }} {{ disabledStatus }}/><label for="stu{{ s.id }}">{{user.displayUserName(s)}}</label></li>
                     {% endfor %}

               </ul>

            </div>
         </div>
         <p class="tip">
            Les cases à cocher désactivées correspondent aux étudiants déjà affectés à un autre rendu pour ce sujet.
         </p>
         <div class="ligne boutons">
            <div class="barre_outils droite">
               <button class="bouton jqmClose" type="button" tabindex="12" >Annuler</button>
               <button type="submit" class="bouton strong">Valider</button>
            </div>
         </div>
      </form>
   </div>
</div>
