<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Erreur rencontrée : {{ status_text }}</title>
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/annotation/css/layout.css') }}" />
      <link href="{{ asset('bundles/annotation/css/dashboard/dashboard.css') }}" type="text/css" rel="stylesheet" />
      <link href="{{ asset('bundles/annotation/css/960.css') }}" type="text/css" rel="stylesheet" />
   </head>
   <body class="error">
      <div id="header">

      </div>
      <div id="contenu">
         <div class="container_24">
            <div class="widget">
               <div class="header">
                  <h1>Oops! Il semble qu'il y ait un problème…</h1>
               </div>

               <div class="contenu">
                  <h2>Le serveur nous a renvoyé un code "{{ status_code }} {{ status_text }}".</h2>
                  <p>Généralement ce n'est pas très bon signe.</p>
                  <p>
                     Veuillez envoyer un courriel à alecsia@univ-lille1.fr en expliquant ce que vous étiez en train de faire quand l'erreur est apparue.
                     Nous la réparerons dès que possible. 
                  </p>
                  <p>Navré du dérangement. Vraiment !</p>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
