{# Fields: files #}

{% import 'AnnotationBundle:macros:filesize.html.twig' as filesize %}
{% import 'AnnotationBundle:macros:users.html.twig' as user %}

{% extends 'AnnotationBundle:Dashboard:layout.html.twig' %}
{% block titre %}
   Admin: removing old unused files - {{ parent() }}
{% endblock %}

{% block contenu %}
{% set total_size = 0 %}
<div class="widget">
<form class="nomargin" method="post" action="{{path('AlecsiaAdmin_RemoveFiles')}}">
<div class="contenu">
<div class="barre_outils block left">
  <button class="bouton activator_all" type="button" data-table="sel_unused_files">
    <span class="ico_cochevide"></span>
  </button>
  <div class="barre_outils droite">
    <button class="bouton rouge invisible" data-selectiondependant="sel_unused_files" data-action="supprimer" data-confirm-h="Êtes-vous sûr ?" data-confirm-p="Cette action supprimera définitivement les fichiers sélectionnés." data-confirm-l="Supprimer les fichiers">
      Supprimer</button>
  </div>
</div>
<p />
<table id="sel_unused_files" class="tableSelect espace selectionFire">
  <thead>
    <tr>
      <td></td>
      <td>UE</td>
      <td>Teacher</td>
      <td>Fichier</td>
      <td>Students</td>
      <td>Taille</td>
    </tr>
  </thead>
  <tbody>
  {% for file in files %}
  <tr>
    {% set UE = file.rendu.sujet.UE %}
    <td class="c checkbox"><input class="activator" name="file[{{file.id}}]" type="checkbox" /></td>
    <td> {{UE.nomCourt}} ({{UE.year}}) </td>
    <td> {{UE.owner.lastName}} </td>
    <td> {{file.sousDossier}}/{{file.nomFichier}} </td>
    <td> {% for student in file.rendu.students %}
      <span class="studentName">{{user.displayUserName(student)}}</span>
      {% endfor %}
    </td>
    <td> {{file.taille}} </td>
    {% set total_size = total_size + file.taille %}
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</form>
</div>
<p> Taille totale : {{filesize.bytesToSize(total_size)}}</p>

{% endblock %}
