@import "helpers.less";

/*=================
  = Aspect visuel =
  ================= */
input, textarea {
   border: 1px solid @gris_clair;
   background: @blanc_casse;
   color: @gris_fonce;
   font: 13px 'Helvetica', Arial, 'Liberation Sans', FreeSans, sans-serif;
   padding: 5px;
   line-height: normal !important;
   margin: 0;

   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box; 

   &.S { font-size: 0.9em; }
   &.L { font-size: 1.2em; }
   &.XL { font-size: 1.5em; }

   &.t100 { width:100%;}
   &.t80 { width:80%;}
   &.t20 { width:20%;}

   &.wS { width: 40px;}
   &.w80 { width: 80px;}
   &.wL { width: 350px;}

   &.collapse {border-left: 0;}

   &.code { font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace; }
}

@placeholder: #bdbfbf;
*::-webkit-input-placeholder {
   color: @placeholder;
}

*:-moz-placeholder {
   color: @placeholder;
}

input + span, input + label, select + label {
   margin-left: 10px;
}

input[type=radio] {
   margin-left: 10px;

   & + label {
      margin-left: 5px;
      margin-right: 15px;
   }
}

.jqmWindow form {
   margin: 7px 5px 5px 5px;

   p {
      margin: 5px;
   }
}

/*==================
  = Positionnement =
  ================== */
form .fluid {
   display: block;
   width: 100%;
   margin: 0 0 -1px 0;
}

form.nomargin {
   margin: 0 !important;
}

.ligne {
   position: relative;
   margin: 10px 5px 0 5px;
   padding-bottom: 10px;

   &.boutons {
      min-height: 27px;
      padding-bottom: 0;
   }

   &.collapse {
      margin-top: -6px;
   }

   &.paddingL {
      padding: 10px 0;
   }

   &.hl {
      background-color: @beige_fonce;
      border-top:    1px solid @gris_clair;
      border-bottom: 1px solid @gris_clair;
   }

   label {
      margin-right: 10px;
   }
}


/* ============================== */
/* Symfony Forms layout           */
/* ============================== */
.widget form {
   margin: 10px;
}

form.horizontal {

   & > div, & > div > div, & > input[type="submit"] {
      display: inline-block;
   }

   // Field + Label
   & > div > div {
      margin-right: 20px;
   }

   & > div > div > label {
      margin-right: 10px;
   }


}
