@import "helpers.less";
@import "UIElements.less";
@import "forms.less";

body {
	color: @gris_fonce;
	background-color : @body_background;
	background-image: url("../images/layout/background.png");
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.hidden {
	display: none;
}

.invisible {
  visibility: hidden;
}

label {
    cursor: pointer;
}

a { color: @gris_medium;}


span.L {font-size: 1.2em;}
span.S {font-size: 0.9em;}
span.XS {font-size: 0.8em;}


/* Icones */
.state {
  .ico {
    float: left;
  }

  line-height: 26px;
}

.rounded {
    display: inline-block;
    color: white;
    white-space: nowrap;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0 15px 0 0;
    padding: 4px;
    background-position: 4px 4px;
    background-color: @gris_medium;

}

.ico_l {
  margin-right: 5px;
} 

.ico_r {
  margin-left: 5px;
}

.ico_gel {
   vertical-align: -15%;
   width: 16px;
   height: 16px; 
   display: inline-block;
   background-image: url(../images/layout/gel.png);
   background-repeat: no-repeat;
}

.ico_gel_b {
   vertical-align: -15%;
   width: 16px;
   height: 16px; 
   display: inline-block;
   background-image: url(../images/layout/gel_b.png);
   background-repeat: no-repeat;
}

.no_consult {
   vertical-align: -15%;
   width: 16px;
   height: 16px; 
   display: inline-block;
   background-image: url(../images/layout/no-consult-16.png);
   background-repeat: no-repeat;

   .header h2 & {
      vertical-align: middle;
   }
}

.triangle-down-g {
   vertical-align: -23%;
   width: 16px;
   height: 16px; 
   display: inline-block;
   background-image: url(../images/layout/arrow_b_gris_medium.png);
   background-repeat: no-repeat;
}

.triangle-down-gf {
  .triangle-down-g;
  background-image: url(../images/layout/arrow_b_gris_fonce.png);
  
}

.active > .triangle-down-g {
    background-image: url(../images/layout/arrow_b_gris_fonce.png);
}

button:active > .triangle-down-g {
    background-image: url(../images/layout/arrow_b_gris_fonce.png);
}

.ico_cochevide {
  background-image: url(../images/dashboard/coche_vide.gif);
  width: 12px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: -10%;
}

.ico_cochepleine {
  background-image: url(../images/dashboard/coche_pleine.gif);
  width: 12px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: -10%;
}

.ico_cochepartiel {
  background-image: url(../images/dashboard/coche_partiel.gif);
  width: 12px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: -10%;
}