@import "helpers.less";

// Message d'info/erreur, etc...
.flash {
   @width: 500px;
   position: fixed;
   z-index: 1000;
   background: @gris_fonce;

   .bottom-shadow(4px);

   width: @width;

   top: 100px;
   left: 50%;

   margin-left: -(@width / 2);
   padding: 10px;
   text-align: center;


   h3 {
      font-weight: normal;
      font-size: 15px;
      color: @gris_clair;
      margin: 0;
   }

   p {
      font-size: 12px;
      color: @gris_clair;
      margin: 5px 0 0 0;
   }

   &.success {
      &.lookatme {
         background: rgb(0,92,15);
      }
   }
}

// Une barre destinée à contenir des boutons
.barre_outils {
   position: relative;
   display: inline-block;
   vertical-align: top;

   &.droite {
      position : absolute;
      top: 0;
      right: 0;
   }

   &.gauche {
      position: absolute;
      top: 0;
      left: 0;
   }

   &.block {
      display : block;
      text-align: right;

      &.center {
         text-align: center;
      }

      &.left {
         text-align: left;
      }
   }
}

.widget > .contenu > .barre_outils:first-child, .widget > .contenu > * .barre_outils:first-child  {
   display: block;
   margin-top: -10px;
   margin-bottom: 10px;
   padding: 6px 10px 5px 10px;
   .bottom-shadow(1px);

   .droite {
      top: 6px;
      right: 5px;
      text-align: right;
      white-space: nowrap;
   }

}

// Un bouton, dans le sens visuel du terme (peut donc être <a>, <input>,...)
.bouton {
   background: none;
   font: inherit;
   margin: 0;

   border: 1px solid @gris_clair;
   color: @gris_fonce;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;

   padding: 3px 13px;
   display: inline-block;

   vertical-align: middle;

   &.fluid {
      display: block;
      text-align: center;
   }

   &.auto {
      display: block !important;
      text-align: center;
      width: auto;

      box-sizing: border-box;
      margin: 10px 10px;
      position: relative;
   }

   &.icone {
      box-sizing: border-box;
      height: 27px;
   }

   &.discrete {
      border: 0px;
      font-size: 14px;
      font-weight: normal;
      color: @gris_medium;
      box-shadow: none;
      padding: @small_pad;
      position: relative;
      left: -4px;
   }


   // Tailles
   &.L {
      font-size: 13px;
      padding: 10px 20px;
   }

   &.small_pad {
      padding: @small_pad;
   }

   &.loading {
      background-image: url("../images/layout/loadingbutton.gif");

      span {
         opacity: 0.5;
         -moz-opacity: 0.5;
         filter:alpha(opacity=5);
      }
   }

   &.error {
      color: @rouge;
   }

   &:hover, &:focus {
      background-color: rgba(255,255,255,0.5);
   }

   &.strong {
      background-color: @gris_fonce;
      color : white;

      &:hover, &:focus {
         background-color: #464646;
      }

      &:active {
         background-color: #464646;
         -webkit-box-shadow: inset 2px 2px 1px -1px black;
         -moz-box-shadow: inset 2px 2px 1px -1px black;
         box-shadow: inset 2px 2px 1px -1px black;
      }	
   }

   &.gris_fonce {
      background-color: @gris_fonce;
      color : @gris_clair;
      border: 1px solid @gris_medium;

      &:hover, &:focus {
         background-color: #464646;
      }

      &:active {
         background-color: #464646;
         -webkit-box-shadow: inset 2px 2px 1px -1px black;
         -moz-box-shadow: inset 2px 2px 1px -1px black;
         box-shadow: inset 2px 2px 1px -1px black;
      }
   }

   &.beige {
      background-color: @beige;

      &:hover, &:focus {
         background-color: @beige_clair;
      }

   }

   &.jaune {
      border-color: @beige_fonce;
      background-color: @jaune_pale;

      &:hover, &:focus {
         background-color: @jaune_trespale;
      }

   }

   &.beige_fonce {
      background-color: @beige_fonce;

      &:hover, &:focus {
         background-color: @beige;
      }

      &:active {
         background-color: @beige;
      }
   }

   &.rouge {
      background-color : @rouge;
      color : white;

      &:hover, &:focus {
         background-color: #E84E40;
      }

      &[disabled] {
         color: @gris_clair;
      }

   }

   &.bleu {
      background-color : @bleu_ocean;
      color : white;

      &:hover, &:focus {
         background-color: #0076B0;
      }

      &:active, &.active {
         background-color: #0076B0;
         -webkit-box-shadow: inset 2px 2px 1px -1px #00334C;
         -moz-box-shadow: inset 2px 2px 1px -1px #00334C;
         box-shadow: inset 2px 2px 1px -1px #00334C;
      }

      em {
         color: @bleu_pale;

         font-style: normal;
      }

   }

   &.lookatme {
      background-color: @vert_pale;
   }

   &.lookatmenegatif {
      background-color: @rouge_pale;
   }

   &:active, &.active {
      -webkit-box-shadow: inset 2px 2px 1px -1px @gris_medium;
      -moz-box-shadow: inset 2px 2px 1px -1px @gris_medium;
      box-shadow: inset 2px 2px 1px -1px @gris_medium;
      background-color: rgba(255,255,255,0.5);
   }

   &.action_dd:active, &.action_dd.active {
      color: @gris_fonce;
      border-color: @gris_clair;
      background-color: white;
      border-bottom: 0;
      padding: 3px 13px 4px;

      &.L {
         padding: 10px 20px 11px;
      }

      &.discrete {
         border: 0px;
         font-size: 14px;
         font-weight: normal;
         color: @gris_medium;
         box-shadow: none;
         padding: @small_pad;
         background-color: rgba(255,255,255,0.5);
      }
   }

   &[disabled] {
      color: @gris_medium;

      &:hover, &:focus, &:active, &.active {
         cursor:normal;
      }
   }


}

input.bouton {
   padding-top:  5px !important;
   padding-bottom: 5px !important;
}

// Boîte contenant un titre et un contenu. Structure la page en blocs.
.widget {
   background-color: @blanc_casse;
   .bottom-shadow(2px);
   margin-bottom: 20px;
   & > .header {

      padding: 5px;
      position: relative;

      h1,h2,h3,h4,h5,h6 {
         font-weight: 300;
         color: @bleu_ciel;
         margin: 5px 15px 5px 5px;
         display: inline-block;
      }

      h3 {
         font-size: 17px;
      }

      .barre_outils {
         margin: 4px;

         &.droite {
            margin: 10px;
         }
      }

      &.c {
         text-align: center;

         h3 {
            margin: 5px 0;
         }
      }
   }

   &.beige {
      background: @beige;
   }

   & > .contenu {
      p {
         margin: 10px;
      }

      p.bordertop {
         background-color: @gris_tresclair;
         margin: 10px 0 0 0px;
         border-top: 1px solid @gris_clair;
         padding: 10px;
      }

      .ligne:first-child {
         margin-top: 5px;
      }
   }




   /* Widget tab*/
   &.tabbed {
      & > .header {
         padding: 0;
         background-color: @beige;
         margin-bottom: 10px;

         & > .tab {
            padding: 5px 100px 5px 5px;
            display: inline-block;
            box-sizing: border-box;


            background: @beige_fonce;
            h3 { color: @gris_medium;}

            &:hover {
               padding: 4px 99px 4px 4px;
               background-color: @beige;
               border-top: 1px solid @gris_clair;
               border-left: 1px solid @gris_clair;
               border-right: 1px solid @gris_clair;
            }
         }

         & > .tab.active {
            background: @blanc_casse;
            h3 { color: @bleu_ciel;}
            box-shadow: none;

            &:hover {
               border: 0;
               padding: 5px 100px 5px 5px;
            }
         }


      }

      & > .contenu {display: none;}
      & > .contenu.active { display: block;}


   }

   &.loading {
      padding: 70px 0 50px 0;
      position: relative;

      .header {
         display: none;
      }

      .contenu {
         color: @gris_medium;
         text-align: center;
      }

      .contenu:before {
         content:" ";
         display: block;
         width: 150px;
         height: 20px;
         position: absolute;
         top: 40%;
         left:50%;
         margin-top: -10px;
         margin-left: -75px;
         background-image: url("../images/layout/loadingbutton.gif");
      }	

   }

   &.switchoff {


      .header {
         position: relative;

         input {
            position: absolute;
            left: 10px;
            top: 17px;
            margin: 0;
         }

         h3 {
            margin-left: 30px;
         }
      }

      .contenu {
         margin-left: 35px;

         p {
            margin: 5px 0;
         }

         p.bordertop {
            background-color: @gris_tresclair;
            margin: 10px 0 0 -35px;
            border-top: 1px solid @gris_clair;
            padding: 10px 10px 10px 35px;
         }

         .ligne {
            margin-left: 0;
         }
      }



   }

   &.switchoff + .switchoff {
      margin-top: -19px;
   }



}

.vide {
   margin: 30px auto;
   padding: 20px 0;
   text-align: center;

   p.header {
      font-size: 30px;
      color: rgb(235,235,235);
      text-shadow: 0px -1px 1px @gris_medium;
      margin-bottom: 10px;
   }

   p.contenu {
      color: @gris_medium;
   }

   &.S {
      margin: 5px auto;

      p.header {
         font-size: 25px;
      }
   }
}

.sidebar {
   background-color: @beige_fonce;
   border: 1px solid @gris_clair;
   box-sizing: border-box;

   &.gauche {
      margin-left: -10px;
      border-left: 0;
      padding-left: 5px;
      box-sizing: content-box;
      padding-right: 5px;
      margin-right: 9px;
   }

   & > .header {
      padding: 5px;

      h1,h2,h3,h4,h5,h6 {
         font-weight: normal;
         color: @gris_fonce;
         margin: 5px 15px 5px 5px;
         display: inline-block;
      }

      h3 {
         font-size: 17px;
      }

      .barre_outils {
         margin: 4px;
      }
   }

   .tableLignes tfoot tr{
      background: @beige_tresfonce;
   }

   .vide {
      margin: 50px auto;
      text-align: center;

      p.header {
         font-size: 30px;
         color: @beige_tresfonce;
         text-shadow: 0px -1px 0px @gris_medium;
         margin-bottom: 10px;
      }

      p.contenu {
         color: @gris_medium;
      }
   }
}



.partie {
   border-top: 1px solid @gris_clair;
   border-bottom: 1px solid @gris_clair;
   background-color: @beige_fonce;
   margin: 30px -10px 60px ;

   & > .header {
      @height: 36px;
      background: @gris_fonce;
      margin: 0 15px;
      .bottom-shadow(2px);
      height: @height;

      position: relative;
      top: (-@height / 2);



      h3 {
         color: white;
         font-weight: 300;
         font-size: 17px;
         line-height: @height;
         margin: 0 10px;

         & > .tag {
            font-size: 0.6em;
            display: inline-block;
            vertical-align: middle;
            background: @gris_medium;
            padding: 3px;
            margin-top: -3px;
            margin-right: 5px;
            line-height: 1em;
         }

         & > .additionnal
         {
            font-size: 0.6em;
            font-weight: bold;
            color: @gris_clair;
            margin-left: 5px;
         }
      }

      .barre_outils {
         text-align: right;
         position: absolute;
         right: 0;
         top: 0;
         padding: 4px 10px;
      }
   }

   & .vide p.header {
      color: @beige_tresfonce;
   }
}

.sous_partie {
   position: relative;
   margin: 0px 15px;

   h4.groupName {
      height: 36px;
      top: 6px;
      position: relative;
   }

   .barre_outils {
      text-align: right;
      position: absolute;
      right: 0;
      top: 0;
      padding: 4px 10px;
   }
}

// Met en valeur une donnée courte.
.badge {
   display : inline;
   color: white;
   white-space: nowrap;
   font-weight: bold;
   font-size: 12px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding: 1px 0.8em;
   margin-left: 0.8em;
   background-color: @gris_medium;

}

.badge, .rounded {
   &.rouge,&.negatif {background-color: @rouge;}
   &.vert,&.positif {background-color: @vert;}
   &.bleu {background-color: @bleu_ocean;}
}


// Un panneau issu d'un bouton
.panel_dd {
   position: absolute;
   background-color: white;
   .bottom-shadow(2px);
   border: 1px solid @gris_clair;
   visibility: hidden;
   min-width: 150px;
   z-index: 2000;

   &.discrete {
      background: @beige;
      min-width: 100px;

      .liste_choix {
         text-align:right;
      }
   }

   // Petit "trick" destiné à "fusionner" bouton et panel
   .fix {
      height: 1px;
      background-color: white;
      position: absolute;
      top: -1px;
   }

   &.active { visibility: visible;}

   // Elements de base
   h3 {
      color: @bleu_ciel;
      font-size: 17px;
      font-weight: normal;
      margin: 5px;
   }
}

// Une liste verticale de liens faciles à cliquer
.liste_choix {
   list-style: none;
   font-size: 12px;
   text-align: left;
   margin: 0;

   & > li {
      white-space : nowrap;
      margin: 0;
      border-top: 1px solid @gris_clair;

      &:first-child {
         border-top: 0;
      }
   }

   // Liens
   & > li > a {
      display : block;
      padding: 5px 2em 5px 5px;
      color: @bleu_ciel;
      text-decoration: none;
      cursor: pointer;

      &:hover {
         background-color: @bleu_pale;
      }

      &.loading {
         color: @gris_clair;
         font-style: italic;
      }
   }

   &.grand {
      font-size: 14px;

      & > li > a {
         padding : 7px 2em 7px 7px;
      }
   }
}

.listePickup {

   list-style: none;

   & > li {
      margin: 0;
      padding: 1px;
   }

   & > li > a {
      display: block;
      text-decoration: none;
      padding: 6px 10px;

      &:hover {
         background-color: @beige;
      }

      &:active {
         background-color: @jaune_pale;
      }
   }

   & > li.cochevide a, & > li.cochepleine a {
      background-repeat: no-repeat;
      padding-left: 45px;
      background-position: 13px 5px;
   }

   & > li.cochevide a {
      background-image: url(../images/dashboard/coche_vide.gif);
   }

   & > li.cochepleine a {
      background-image: url(../images/dashboard/coche_pleine.gif);
      color: @gris_clair;
   }
}

.statebar {
   background-color: @beige_tresfonce;
   color: @gris_medium;

   border-top: 1px solid @gris_clair;
   border-bottom: 1px solid @gris_clair;

   margin-bottom: 20px;
   margin-left: -10px !important;
   margin-right: -10px !important;
   padding: 0 10px;

   .icone {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
   }

   .contenu {
      display: inline-block;
      vertical-align: middle;

      h4 {
         font-size: 1em;
         margin: 5px;
      }

      p {
         margin: 5px;
      }
   }



}

// Une boîte modale
.jqmWindow {
   position: fixed;
   display : none;
   top: 0;
   left: 50%;
   margin-left: -320px;

   width: 640px;
   min-height: 150px;

   z-index: 600;

   background: @beige;
   border: 1px solid @gris_clair;
   border-top: 0;
   border-bottom: 2px groove @gris_fonce;
   .bottom-shadow(2px);

   & > .header {
      background-color : @gris_fonce;

      .bottom-shadow(3px);

      h1,h2,h3,h4,h5,h6 {
         font-size: 15px;
         font-weight: normal;
         color: @gris_clair;
         margin: 10px 15px 10px 10px;
         display: inline-block;

         em {
            font-style: normal;
            color: white;
         }
      }

      position: relative;
   }

   &.debug {
      display: block !important;
   }

   p {
      margin: 10px 10px;
   }

   p.tip, .ligne.hl {
      background-color: @beige_fonce;
      border-top:    1px solid @gris_clair;
      border-bottom: 1px solid @gris_clair;
      margin: 0 0 5px 0px;
      padding: 10px;
   }

   form p.tip, form .ligne.hl {
      margin: 0 -5px 5px -5px;
   }

   .contenu > .ligne {
      margin: 20px 5px 5px 5px;
   }

   .contenu > p.ligne {
      margin: 15px 10px 10px 10px;
   }

   // Modale d'erreur
   &#modal_error {
      background-color: @gris_fonce;
      background-image: url("../images/layout/sad.png");
      background-repeat: no-repeat;
      background-position: 10px 5px;
      min-height: 100px;
      border: none;
      z-index: 1500;

      .header{
         background: none;
         margin: 10px 0 5px 115px;
         .no-shadow;
         h1,h2,h3,h4,h5,h6 { color: white; }
      }

      .contenu {
         margin: 5px 0 0 115px ;
      }

      /*.bouton {
              border: 1px solid @gris_medium;
      }*/

      color: @gris_clair;
   }

   &.overflow {
      max-height: 600px;
      overflow-y: auto;
   }


}

// Supermodales
.jqmSuperModal {
   display : none;
   top: 0;
   left: 50%;
   margin-left: -320px;

   width: 640px;
   position: fixed;
   top: 0px;
   z-index: 1100;

   background-color: @blanc_casse;
   .bottom-shadow(2px);

   & > .header {

      padding: 5px;

      h1,h2,h3,h4,h5,h6 {
         font-weight: normal;
         color: @bleu_ciel;
         margin: 5px 15px 5px 5px;
         display: inline-block;
      }

      h3 {
         font-size: 17px;
      }

      .barre_outils {
         margin: 4px;
      }
   }

   & > .contenu {
      p { margin: 10px;}
   }

   .contenu > .ligne {
      margin: 20px 5px 5px 5px;
   }

   &.debug {
      display: block !important;
   }
}

#modal_confirmation, #modal_notice { 
   width: 480px;
   left: 50%;
   margin-left: -240px;
}

.jqmOverlay { background: @gris_fonce;}

/* Un tableau de lignes où certaines peuvent être activées et d'autres non. */
.barre_outils + .tableSelect {
   margin-top: -10px;
}

.tableLignes, .tableSelect {

   // Structure principale
   width: 100%;
   margin-bottom: 10px;

   td {
      padding: 0 5px;
      vertical-align: middle;
   }

   tr {
      border-top: 1px solid @gris_clair;

      &:first-child {
         border-top: none;
      }
   }

   td.checkbox {
      width: 40px;
   }

   label {
      display: block;
      padding : 10px 0;
      margin: 0;
   }

   p {
      margin: 5px 0;
   }

   thead {
      border-bottom: 1px solid @gris_clair;
      font-size: 0.9em;

      td {
         padding: 3px 5px;
         font-weight: bold;
      }
   }

   tfoot {
      border-top: 1px solid @gris_clair;

      tr {
         background: @gris_tresclair;

         td { font-weight: bold; }
      }
   }

   // Activation des lignes
   tr.actif {
      color: @bleu_ocean;
      font-weight: bold	;
   }

   tr.inactif {
      background-color: @gris_tresclair;
      color: @gris_medium;
      font-style: italic;
   }

   // Titres
   tr.titre {
      h3 { margin: 0px; font-size: 15px; color: @gris_medium;}

   }

   &.borderless {
      tr { border: 0;}
      thead {border: 0;}
   }

   &.espace {
      td { padding: 5px;}
   }
}

.tableSelect {


   a {
      display: block;
      text-decoration: none;
      color: @gris_fonce;
   }

   tr.actif {
      background-color: @jaune_pale;
      color: @gris_fonce;

      &:hover {
         background: @jaune_pale;
      }
   }

   tr.inactif {
      background: none;
      color: @gris_fonce;
      font-style: normal;

      &:hover {
         background: @beige_fonce;
      }
   }

   tbody tr:hover {
      background: @beige_fonce;
   }



}

/* Mise en forme des tableaux */
table {
   td {
      &.t5  {width: 5%;}
      &.t10 {width: 10%;}
      &.t15 {width: 15%;}
      &.t20 {width: 20%;}
      &.t25 {width: 25%;}
      &.t30 {width: 30%;}
      &.t35 {width: 35%;}
      &.t40 {width: 40%;}

      &.c {text-align: center;}
      &.r {text-align: right;}
   }
}

/* ==================== */

.contenu .raw_comment, .raw_title {
  display:none;
}


// Un modèle/annotation sous forme linéaire
li.modelannot 
{

   position: relative;
   margin: 1px;
   padding: 5px 5px 5px 35px;
   list-style: none;

   & > .wrapper {

   }

   .header {

      font-size: 12px;
      font-weight: normal;
      color: @gris_fonce;
   }

   .contenu {

      font-size: 11px;
      color: @gris_medium;

      p { margin: 0;}
   }

   &.hover, &:hover{
      background: @beige_fonce;
      cursor: pointer;
   }

   &:active {
      background: @jaune_pale;
   }

   &.lookatme {
      background: @vert_pale;
      color: @vert;
   }

   & > .infos { display: none; }

   // Carré 
   & > .wrapper :before {
      display: block;
      width: 6px;
      height: 10px;
      border-width: 1px;
      border-style: solid;
      position: absolute;
      top: 7px;
      left: 11px;
      content:' ';
   }

   .color_base :before { border-color: @gris_medium;}
   .color_1 :before    { border-color: @color1;}
   .color_2 :before    { border-color: @color2;}
   .color_3 :before    { border-color: @color3;}
   .color_4 :before    { border-color: @color4;}
   .color_5 :before    { border-color: @color5;}
   .color_6 :before    { border-color: @color6;}
   .color_7 :before    { border-color: @color7;}
   .color_8 :before    { border-color: @color8;}
   .color_9 :before    { border-color: @color9;}
   .color_0 :before    { border-color: @color0;}

	div.occurrence {
	  float:right;
	  margin-right:55px;
	  height:auto;
	  width: auto;
	  min-width:40px;
	  text-align:center;
	  color: #5F5F5F;
	}
}

.lectureseule .modelannot {
   &.hover, &:hover{
      background: none;
      cursor: default;
   }

   &:active {
      background: none;
   }
}

.precision {
   margin-left: 10px;
   font-size: 0.85em;

   &.bleu_ciel { color : @bleu_ciel;}
   &.bleu_ocean { color : @bleu_ocean;}
   &.gris_medium { color : @gris_medium;}
}

/* Formulaire */
*.toadd *.modif {
   display: none !important;
}

*.tomodif *.add {
   display: none !important;
}

/* Liste de tags */
ul.listetags {
   margin: 0 0 0 10px;

   li {
      display: inline;
      list-style: none;
      background-color: @gris_fonce;
      color: @beige;
      padding: 3px 6px;
      margin: 0;
   }
}

/* Nom du rendu précédé des noms d'étudiants */
.rendu_etudiants {
   color: @gris_clair;
   font-size: 90%;
}
.rendu_etudiants:before {
   content: "(";
}
.rendu_etudiants:after {
   content : ")";
}

.studentName + .studentName:before {
   content: " & ";
}

#sel_listerendus .studentName{
   display:block;
}

#sel_listerendus .studentName:before {
   content : "";
}

.lastName {
   font-variant: small-caps;
}

/* Share code */
.shareCode {
   font-family: monospace;
   font-size: 1.5em;
   border: 1px dotted @gris_clair;
   margin: 10px;
   padding: 5px 30px;
   display: inline-block;
}

.checkboxesColumnList {
   font-size: 0;
   margin: 5px 10px;

   li {
      display: inline-block;
      box-sizing: border-box;
      width:25%;
      margin: 0;
      padding: 3px;
      font-size: 12px;
      position: relative;

      input {
         position: relative;
         z-index: 900;
      }

      label {
         position:absolute;
         display: block;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         width: 100%;
         box-sizing: border-box;
         top:0;
         bottom:0;
         left:0;
         right:0;
         margin: 0;
         padding: 4px 10px 0 23px;


         &:hover {
            background: @gris_tresclair;
         }
      }

      input[type="checkbox"]:checked + label {
         background:@jaune_pale;
         font-weight: bold;
      }

      input[type="checkbox"]:disabled+ label {
         background:none;
         color: @gris_clair;
      }


   }
}

// -- Grid in partie --
.partie {
   .grid {
      margin: 0 0px;

      article {
         display: inline-block;
         width: 20%;

         padding: 0 5px 10px 5px;
         box-sizing: border-box;
         vertical-align: top;
      }


   }
}

.work {
   display: block;
   background-color: @blanc_casse;
   .bottom-shadow(2px);
   text-align: center;
   text-decoration: none;
   box-sizing: border-box;
   padding: 5px;

   &.waiting {
      opacity: 0.6;

      &:hover {
         border:0;
         padding: 5px;
         cursor: not-allowed;
      }
   }

   &:hover {
      border: 2px solid @jaune_pale;
      padding: 3px;
   }

   header {
      font-weight: bold;
      color: @gris_medium;
      font-size: 1.2em;
      margin-top: 5px;
      height:3.1em;
      text-overflow: ellipsis;
      overflow: hidden;
   }

   .authors {
      font-size: 0.9em;
      height: 2em;
      color: @gris_clair;
   }

   .note {
      margin: 15px;
      height: 3em;

      .valeur {
         font-size:2.5em;
      }

      .commentaire {
         color: @gris_clair;
         font-size: 2.5em;
      }

      .notesur {
         font-size:0.8em;

         &:before {
            content:" / ";
         }
      }
   }
}

.manage_unregistered {
   width: 100%;
   thead td {
      width: 50%;
   }
   td {
      text-align: center;
   }
}

.ui-autocomplete-category {
   /*background: @gris_tresclair;*/
   list-style: none;
   margin: 0;
   padding: 5px 20px;
   font-size: 0.8em;
   font-weight: bold;
   text-transform:  uppercase;
   text-shadow: 0px -1px 1px white;
   .bottom-shadow(1px);
   border-top: 1px solid @gris_clair;

   strong {
      color: @bleu_ocean;
   }
}

.ui-menu {
   background: @blanc_casse;
   .bottom-shadow(2px);
   height: 300px;
   overflow: auto;
}

.student_chooser {
   width: 300px !important;
   height: 300px !important;
}                   

.ui-menu-item {
   margin: 0px;
   list-style: none;
   border-top: 1px solid @gris_tresclair;

   a {
      position: relative;
      display: block;
      padding: 5px 20px;

      &.ui-state-hover,&.ui-state-focus {
         padding: 4px 19px;
         background: @bleu_pale;
         border: 1px solid @bleu_ciel;
      }

      .badge {
         position: absolute;
         right: 20px;
         top: 5px;
      }
   }


}

.ui-menu-item:first-child  {
   border-top: 0;

}

.invisible_group {
   opacity: 0.3;
}

#bouton_most_popular_models {
  float: right;
}

.btn-top-page svg {
   height: 30px;
   position: absolute;
   left: -2em;
}