{# 
 # Affiche l'interface de gestion d'une liste de modèles
 # Variables exigées :
 # - nbmodeles
 # - modeles
 # - exercices
 #
 # Infos:
 # - la variable modelesPop est uniquement définie dans Sujet/DefaultController
 # - la variable modeUE est définie dans UE/UEsActionController
 #}

{% macro display_model_list(models, list_id, title, popular_models, lectureseule) %}
    {% if models is empty %}
        {% set hidden = 'hidden'%}
    {% else %}
        {% set hidden = ''%}
    {% endif %}
    <div class="{{hidden}}">
        <h4>{{ title }}</h4>
        <ul class="listemodeles {{lectureseule}}" id="{{list_id}}">
            {% for m in models %}
                {% set popular = 'notpopular' %}
                {% if popular_models[m.id] is defined and popular_models[m.id]['popular'] %}
                    {% set popular = "popular" %}
                {% endif %}
                {% include 'AnnotationBundle:Dashboard:ListeModeles/modele.html.twig' with {popular_models: popular_models} %}
            {% endfor %}
        </ul>
    </div>

{% endmacro %}

{% import _self as current %}



{% if lectureseule is not defined %}
   {% set lectureseule = false %}
{% endif %}

{% set lastex = -1 %}
{% set noUlYet = true %}
{# Boutons de gestion #}
{% if not(lectureseule) %}
   {% set style = "" %}
   {% if modeUE is defined or modelesPop is not defined%}
     {% set style = "style=display:none" %}
   {% endif %}
   <div class="barre_outils">

      <button class="bouton" id="bouton_ajouter_modele">Nouveau modèle</button>
        <button class="bouton mo_pop" id="bouton_most_popular_models" {{ style }}>Modèles populaires</button>

   </div>
{% endif %}


{% if lectureseule %}
   {% set lectureseule = 'lectureseule' %}
{% else %}
   {% set lectureseule = '' %}
{% endif %}

    {% set mo_global = "" %}

    {% if modeUE is not defined %}
        {% set mo_global = "(Globaux)" %}
    {% endif %}

    {# Affichage des modèles pour une UE: #}
    {% set mo_bm_globaux = [] %}
    {% set mo_bm = [] %}
    {# liste est défini dans le controller Sujet/DefaultController et correspond à l'id de la liste de modèle du sujet #}
    {% if liste is defined %}
        {% for m in modeles[0] %}
            {% if m.liste == liste %}
                {% set mo_bm = mo_bm|merge([m]) %}
   {% else %}
                {% set mo_bm_globaux = mo_bm_globaux|merge([m]) %}
   {% endif %}
         {% endfor %}
    {% else %}
        {% set mo_bm_globaux = modeles[0] %}
    {% endif %}

    {% if modelesPop is not defined %}
      {% set modelesPop = [] %}
    {% endif %}

    {# Ex Bonus/Malus #}
    {{ current.display_model_list(mo_bm_globaux, "lm_glob", "Bonus/Malus "~mo_global, modelesPop, lectureseule) }}

    {# Cas Bonus/Malus du sujet(affichage des modèles pour un sujet). #}
    {# Ex Bonus/Malus #}
    {{ current.display_model_list(mo_bm, "lm_ex_0", "Bonus/Malus", modelesPop, lectureseule) }}

    {# Exercices réels (affichage des modèles pour un sujet). #}
    {% for e in exercices %}
      {% set title = "Ex "~e.numero~". "~ e.nom %}
      {{ current.display_model_list(modeles[e.id], "lm_ex_"~e.id, title, modelesPop, lectureseule) }}
    {% endfor %}

    {# Modèles par sujet (affichage des modèles pour un UE). #}
    {% if modeUE is defined %}
    {% for s in sujets %}
      {{ current.display_model_list(modeles[s.listeModeles.id], "lm_suj_"~s.id, s.nom, modelesPop, lectureseule) }}
    {% endfor %}
    {% endif %}

{% if nbmodeles == 0 %}
   {% set hidden = "display:block" %}
{% else %}
   {% set hidden = "display:none" %}
{% endif %}

<div class="vide" id="lm_vide" style="{{hidden}}">
   <p class="header">Aucun modèle</p>
</div>



