{# 
    Détermine l'affichage d'un modèle
    Ressource connue : m, lookatme
#}
{% if not(lookatme is defined) %}
    {% set additional_classes = '' %}
{% else %}
    {% set additional_classes = 'lookatme' %}
{% endif %}

{% if popular is not defined %}
    {% set popular = "" %}
{% endif %}

<li id="mo_{{m.id}}" class="modelannot {{additional_classes}} {{ popular }}">
    <div class="infos">
        {% if not(m.exercice is none) %}
            <div class="ex">{{m.exercice.id}}</div>
        {% else %}
            <div class="ex">0</div>
        {% endif %}
    </div>

    {% if m.exercice is none %}
        {% set colorex = "base" %}
    {% else %}
        {% set colorex = (m.exercice.numero % 10) %}
    {% endif %}

        {% set nb=0%}
      {% if popular_models is defined and popular_models is not empty %}
        {% set nb=popular_models[m.id]['occ'] %}
      {% endif %}
      {% include 'AnnotationBundle:Correction:Fichier/annotation_core.html.twig' with {name: m.nom, showMark: true, value: m.valeurformatee, comment: m.commentaire, pole: m.pole, nb_occ_model: nb, exo_color: colorex, exo: m.exercice} %}
</li>

