{# Ressources dispo :
   * notes
   #}
{% import 'AnnotationBundle:macros:notes.html.twig' as dispMarks %}
{% if notes.sujet is defined %}
   Login,Nom,Prénom,{% for tp in notes.sujet %} {{tp.nom|raw}}, {%endfor%} Groupe
   {% for etu in notes.student %}{#
     #}{{etu.login|raw}},{{etu.lastName|raw}},{{etu.firstName|raw}},{#
     #}{% for tp in notes.sujet %}{#
       #}{% if notes.notes[tp.id][etu.id] is defined and notes.notes[tp.id][etu.id] != constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK') %}{{dispMarks.getFormattedMark(notes.notes[tp.id][etu.id], tp.Notesur, tp.SubjectGuts)}}{% endif %},{#
     #}{% endfor %}{#
     #} {{notes.group[etu.id].name}}
   {% endfor %}
{% endif %}