{# Ressources dispo :
   * notes
   * subject
   #}
{% import 'AnnotationBundle:macros:notes.html.twig' as notes %}
Login,Nom,Prénom,Note
{% for elem in notes %}{{elem.student.login|raw}},{{elem.student.lastName|raw}},{{elem.student.firstName|raw}},{#
#}{% if elem.note != constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK') %} {{notes.getFormattedMark(elem.note, subject.Notesur, subject.SubjectGuts)}} {% endif %}

{% endfor %}
