
{% extends 'AnnotationBundle:Dashboard:layout.html.twig' %}

{% set titles = "Modèles globaux" %}
{% if modeUE is defined %}
    {% set titles = "Modèles populaires de l'UE: " ~ ue.nom%}
{% endif %}

{% block titre %}
    {{ titles }} - {{ parent() }}
{% endblock %}

{% block contenu %}

    <div class="container_24">
        <!-- Header -->
        <div class="header">
            <div class="grid_24">
                <h2>{{ titles }}</h2>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Contenu -->
        <div class="grid_24">
            {% if modeUE is not defined %}
            <p>Il vous est possible de définir des modèles accessibles depuis n'importe quel rendu. <br/>Pour ce faire, ajoutez-les dans la liste ci-dessous.</p>
            {% endif %}
        </div>

        <div class="grid_24 widget">
            <div class="header">
                
            </div>
            <div class="contenu">
                {% set liste = listemodeles %}
                {% include 'AnnotationBundle:Dashboard:ListeModeles/listemodeles.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}



{# Edition modeles #}
{% block modals %}
    {% set liste = listemodeles %}
    {% include 'AnnotationBundle:Dashboard:ListeModeles/manageModeleForm.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/annotation/js/Dashboard/ModeleFormManager.js') }}"></script>
    <script src="{{ asset('bundles/annotation/js/Dashboard/ModeleList.js') }}"></script>
    <script src="{{ asset('bundles/annotation/js/Dashboard/BoutonAjouterModele.js') }}"></script>
{% endblock %}


{% block js_startup %}


{% endblock %}
