{# Variables requises : regles,type #}

{% import 'AnnotationBundle:macros:pluriels.html.twig' as mot %}

{% if type == "RegleExclusionFichier" %}
   {% set type_fr = "Exclure ce nom de fichier" %}
{% else %}
   {% set type_fr = "Exclure ce nom de dossier" %}
{% endif %}

{% if regles is empty %}
   <div class="vide">
      <p class="header">Aucune règle</p>
      <button 
         type="button" 
         class="bouton go_mod_regle_form go_and_assign"
         data-assign='{
         "mod_titre_window": "Créer une règle",
         "mod_regle_id": "-1",
         "mod_regle_type" : "{{type}}",
         "mod_titre_widget" : "{{type_fr}}",
         "mod_regle" : "",
         "_addclassto_mod_suppr" : "hidden"
         }'
         >
         Nouvelle règle
      </button>
   </div>



{% else %}
   <form class="nomargin" method="post" action="{{path('AnnotationBundle_supprimerRegles')}}">

      <div class="barre_outils block left">
         <button type="button" class="bouton activator_all" data-table="sel_listeregles_{{type}}">
            <span class="ico_cochevide"></span>
         </button>
         <button 
            type="button" 
            class="bouton go_mod_regle_form go_and_assign"
            data-assign='{
            "mod_titre_window": "Créer une règle",
            "mod_regle_id": "-1",
            "mod_regle_type" : "{{type}}",
            "mod_titre_widget" : "{{type_fr}}",
            "mod_regle" : "",
            "_addclassto_mod_suppr" : "hidden"
            }'
            >
            Nouvelle règle
         </button>

         <div class="barre_outils droite">
            <button class="bouton rouge invisible"  
                    data-selectiondependant="sel_listeregles_{{type}}" 
                    data-action="supprimer" 
                    data-confirm-h="Êtes-vous sûr ?" 
                    data-confirm-p="Cette action supprimera les règles sélectionnées." 
                    data-confirm-l="Supprimer les règles">
               Supprimer</button>
         </div>
      </div>

      <input type="hidden" name="repository" value="{{type}}" />

      <table class="tableSelect borderless espace selectionFire" id="sel_listeregles_{{type}}" style="margin: 10px 0">
         <tbody>
            {% for regle in regles %}
               {% set url_suppr = path('AnnotationBundle_supprimerRegle', {repo : type, regle_id : regle.id}) %}
               <tr>
                  <td class="c checkbox"><input type="checkbox" class="activator" name="regle[{{regle.id}}]"/></td>
                  <td>
                     <a class="go_mod_regle_form go_and_assign" 
                        href="#" 
                        data-assign='{
                        "mod_titre_window": "Modifier la règle",
                        "mod_regle_id": "{{regle.id}}",
                        "mod_regle_type" : "{{type}}",
                        "mod_titre_widget" : "{{type_fr}}",
                        "mod_regle" : "{{regle.regex|addslashes}}",
                        "_remclassto_mod_suppr" : "hidden",
                        "_href_mod_suppr" : "{{url_suppr}}"
                        }'
                        >
                        <code>{{regle.regex}}</code>
                     </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </form>
{% endif %}



