{% import 'AnnotationBundle:macros:pluriels.html.twig' as mot %}

<div class="jqmWindow" id="mod_regle_form">
   <div class="header">
      <h2 id="mod_titre_window">Modifier la règle</h2>
   </div>
   <div class="contenu">
      <form method="POST" action="{{ path('AnnotationBundle_creerModifRegle')}}">
         <input type="hidden" id="mod_regle_id" name="regle_id" value="-1" />
         <input type="hidden" id="mod_regle_type" name="regle_repo" value=""/>
         <div class="widget">
            <div class="header">
               <h3 id="mod_titre_widget">Exclure ce nom de fichier</h3>
            </div>
            <div class="contenu">
               <div class="ligne" style="padding-left: 5px">
                  <input type="text" id="mod_regle" class="wL initfocus code" name="regle" placeholder="Règle" />
               </div>
            </div>
         </div>


         <div class="ligne boutons">
            <div class="barre_outils gauche">
               <a href="#" class="bouton rouge" id="mod_suppr">Supprimer cette règle</a>
            </div>
            <div class="barre_outils droite">
               <button class="bouton jqmClose" type="button" tabindex="12" >Annuler</button>
               <button type="submit" class="bouton strong">Modifier</button>
            </div>
         </div>

      </form>

   </div>
</div>