@import "../helpers.less";

@header_height: 60px;

#header {
   position: fixed;
   top: 0;
   width: 100%;
   height: @header_height;
   z-index: 10;

   background: @gris_fonce;
   .bottom-shadow(3px);


   // 1 . LOGO
   #logo {
      h1 {margin: 0;}
   }



   // 2. LIENS DE NAVIGATION
   #liens_navigation {
      & {
         font-size: 0px;
         margin: 0 5px;
      }

      li {
         display: inline-block;
         margin: 0;
         list-style: none;
      }

      a {
         display: block;
         height: @header_height;
         line-height: @header_height;
         font-size: 13px;

         padding: 0 20px;

         text-decoration: none;
         color: @gris_clair;

         &:hover {
            background: url("../../images/dashboard/navigation_active.png");
         }
      }

      .active a {
         border-left: 2px solid @gris_tresfonce;
         border-right: 2px solid @gris_medium;
         padding : 0 18px;

         background: url("../../images/dashboard/navigation_active.png");
         color: @beige;
      }
   }



   // 3. BOUTONS ANNEXES
   #boutons_annexe {
      text-align: right;
      margin-top: 15px;
   }


}