{# Affichage du barème #}
{# Unique variable nécessaire : bareme #}

{% import 'AnnotationBundle:macros:notes.html.twig' as notes %}

{% if not(lookatme is defined) %}
   {% set additional_classes = '' %}
{% else %}
   {% set additional_classes = 'lookatme'~lookatme %}
{% endif %}

{% macro apprecier(note,valeur) %}
   {% if note >= (valeur * 75) / 100 %}
      positif
   {% else %}
      {% if note <= (valeur * 50) / 100 %}
         negatif
      {% endif %}
   {% endif %}
{% endmacro %}

{% macro apprecier_extreme(note,valeur) %}
   {% if note >= valeur %}
      positif
   {% else %}
      {% if note == 0 %}
         negatif
      {% endif %}
   {% endif %}
{% endmacro %}
  {% import _self as current %}

<div id="bareme">

   <input type="hidden" id="rendu_id" value="{{bareme.rendu.id}}" />
   <input type="hidden" id="url_refreshbareme" value="{{path('AnnotationBundle_rafraichirBareme')}}" />

   <button class="bouton action_dd beige {{additional_classes}}" id="bouton_bareme">
      <span>Note </span>
      {{notes.afficherNote(bareme.noteFinale,bareme.sujet.noteSur,bareme.Sujet.SubjectGuts,"bareme_notefinale")}}
   </button>
   <div class="panel_dd right" id="bareme_panel">
      <table class="tableLignes">
         <tbody>

            {# Détail des exercices #}
            {% for resultat in bareme.exercices %}
               {% set exercice = resultat['exercice'] %}
               {% set note     = resultat['note'] %}
                {% set valeur, maxValeur = 0, exercice.valeur %}
                <tr id="fexo_{{ exercice.id }}" class="fexo" onclick="activateExercise(this)">
                    <form method="POST" data-addaction="{{path('AnnotationBundle_ajouterAnnotation')}}" data-delaction="{{path('AnnotationBundle_supprimerAnnotation')}}">
                        <input type="hidden" id="rendu" name="rendu_id" value="{{ bareme.rendu.id }}"/>
                        <input type="hidden" id="exercice" name="exercice_id" value="{{ exercice.id }}"/>
                        <input type="hidden" id="nom" name="nom" value="{{ exercice.nom }}"/>
                        <input type="hidden" id="commentaire" name="commentaire" value="Exercice non rendu."/>
                    </form>
                    <td class="intitule">
                        <p>{{exercice.numero}}. {{exercice.nom}}</p>
                    </td>
                  <td class="note r">
                     <p>
                        <span class="note {{current.apprecier_extreme(note,exercice.valeur)}}">{{notes.getFormattedMark(note,exercice.valeur,exercice.ExerciceGuts)}}</span>
                        {%if not exercice.isLettre%}
                           <span class="valeur">{{exercice.valeur}}</span>
                        {%endif%}
                     </p>
                  </td>
               </tr>
            {% endfor %}

            {# Bonus / Malus #}

            {% set bonusMalus = bareme.bonusMalus %}

            {% if bareme.bonusMalus > 0 %}
               {% set pole = "positif" %}
               {% set bonusMalus = "+" ~ bareme.bonusMalus %}
            {% else %}
               {% if bareme.bonusMalus < 0 %}
                  {% set pole = "negatif" %}
               {% else %}
                  {% set pole = "neutre" %}
               {% endif %}
            {% endif %}
            <tr>
               <td class="intitule"><p>Bonus/Malus</p></td>
               <td class="note t25 r">
                  <p>
                     <span class="note {{pole}}">{{bonusMalus}}</span>
                  </p>
               </td>
            </tr>
         </tbody>
         <tfoot>
            <tr>
               <td class="intitule"><p>Total</p></td>
               <td class="note t25 r">
                  <p>

                     <span class="note" title="{{notes.markExplanation(bareme)}}">{{notes.getFormattedMark(bareme.NoteFinale,bareme.Sujet.Notesur,bareme.Sujet.SubjectGuts)}}</span>
                     {%if not bareme.sujet.isLettre%}
                        <span class="valeur">{{bareme.sujet.noteSur}}</span>
                     {%endif%}
                  </p>
               </td>
            </tr>
         </tfoot>
      </table>
   </div>
</div>