{# Affichage du barème #}
{# Unique variable nécessaire : bareme #}

<div id="bareme">

   <button class="bouton action_dd beige " id="bouton_bareme">
      <span>Note </span>
      <span class="badge">?</span>
   </button>
   <div class="panel_dd right" id="bareme_panel">
      <div class="vide">
         <p class="header">Pas de note</p>
         <p class="contenu">{{ rendu.sujet.UE.owner.absoluteDisplayName }} n'a pas mis de barème pour ce sujet.</p>
      </div>
   </div>
</div>
