{#
    ue.html.twig
    Show a group
#}

{#
    Required Variables :
    * Group        group
#}

{#
    Optional Variables :
    * BOOL      readonly
#}

{% import 'AnnotationBundle:macros:pluriels.html.twig' as mot %}

{% set ue = group.UE %}


<div class="sous_partie">
   <h4 class="groupName">
      {% if group.name is not empty %}
         Groupe {{group.name}}
      {% endif %}
   </h4>

   <div class="barre_outils">
      <button class="bouton action_dd">Gérer le groupe <span class="triangle-down-g"></span></button>
      <div class="panel_dd right">
         <ul class="liste_choix">
            {# Count the number of unregistered students #}
            {% set counter=0 %}
            {% for student in group.students %}
               {% if not(student.registered) %}
                  {%   set counter = counter + 1 %}
               {% endif %}
            {% endfor %}
            {% if counter > 0 %}
               <li>
                  <a href="#" class="go_modal_manage_unregistered_grp_{{group.id}}">{{-counter-}} {{-mot.pluriel(counter,"étudiant non inscrit", "étudiants non inscrits")-}}</a>
               </li>
            {% endif %}

            {% if not(ue.archived) %}
               <li>
                  <a class="go_mod_ue_students go_and_assign" data-assign='{"mod_student_uename": "{{ ue.nom }}", "mod_student_sharecode": "{{group.shareCode}}"}'>Clé de partage</a>
               </li>
               {% if group.name is not empty %}
                  <li>
                     <a class="go_mod_group_form go_and_assign" data-assign='{"mod_group_nom": "{{ group.name }}", "mod_group_id": "{{group.id}}"}'>Renommer</a>
                  </li>
               {% endif %}
               <li>
                  {% if group.viewable %}
                     <a href="{{path('AlecsiaGroupVisibility', {group_id: group.id, visibility: false})}}">Interdire l'accès</a>
                  {%else%}
                     <a href="{{path('AlecsiaGroupVisibility', {'group_id': group.id, 'visibility': true})}}">Rétablir l'accès</a>
                  {% endif %}
               </li>
               {#
               Not accessible yet. Problem on a Foreign Key that is solved.
               But it is not solved for the groups that are already created...
               {% if ue.groups.count > 1 %}
                 <li><a href="{{ path('AlecsiaRemoveGroup', {group_id: group.id})}}"
                   data-confirm-h="Êtes-vous sûr ?" 
                   data-confirm-p="Cette action supprimera définitivement le groupe {{group.name}} de l'UE &quot;{{ue.nom}}&quot; ainsi que <strong>tout</strong> le contenu du groupe." 
                   data-confirm-l="Supprimer le groupe">Supprimer</a></li>
               {% endif %}
                 #}
            {%  endif %}

         </ul>
      </div>
   </div>
</div>

<div class="contenu container_24 {% if not group.viewable %} invisible_group {% endif %}">
   <div class="grid_12 widget">
      <div class="header c">
         <h3>Travaux pratiques</h3>
      </div>
      <div class="contenu">
         {% include 'AnnotationBundle:Dashboard:Promotion/listesujets.html.twig' with {group:group ,sujets: ue.tps ,td:0} only%}
      </div>
   </div>
   <div class="grid_12 widget">
      <div class="header c">
         <h3>Interrogations écrites</h3>
      </div>
      <div class="contenu">
         {% include 'AnnotationBundle:Dashboard:Promotion/listesujets.html.twig' with {group:group ,sujets: ue.tds ,td:1} only%}
      </div>
   </div>
   <div class="clear"></div>
</div>


