{# This template is just used to call the group template.
But we just call that template once, even if there are several groups
#}

{% if ue.groups is not empty %}

   <div class="ue">
      <div class="partie">
         <div class="header">

            <h3><span class="tag">{{ ue.year }}</span> {{ ue.nomcourt }} : {{ ue.nom }}</h3>

            <div class="barre_outils">
               <button class="bouton gris_fonce action_dd">Gérer l'UE <span class="triangle-down-g"></span></button>
               <div class="panel_dd right">
                  <ul class="liste_choix">
                     {% if app.user == ue.owner %}
                        <!-- Rename -->
                        {% if not(ue.archived) %}
                           <li>
                              <a class="go_mod_ue_form go_and_assign"
                                 data-assign='{"mod_ue_nom_court" : "{{ue.nomcourt}}","mod_ue_nom" : "{{ue.nom}}","mod_ue_id" : "{{ue.id}}" }'>Renommer</a>
                           </li>

                           <!-- Archive -->
                           <li><a href={{ path('AlecsiaArchiveUE', {ue_id:ue.id} )}}>Archiver</a></li>
                              {% set first_group_input = "Groupe <input type='text' class='wL initfocus' name='first_group_name' placeholder='Nom du groupe existant' />" %}
                           <li><a class="go_mod_form_newGroup go_and_assign" data-assign='{"mod_group_ue_id" : "{{ue.id}}" {% if ue.groups.count == 1 and ue.groups.first.name is empty %} , "mod_group_first" : "{{first_group_input}}", "mod_newGroup_header" : "Noms de groupes" {% else %} , "mod_newGroup_header" : "Nom du groupe" {% endif %}}'>Créer un groupe</a></li>
                           {% else %}
                           <li><a href={{ path('AlecsiaUnarchiveUE', {ue_id:ue.id} )}}>Désarchiver</a></li>
                           {% endif %}

                        <!-- Remove -->
                        <li><a href="{{ path('AlecsiaRemoveUE', {ue_id: ue.id})}}"
                               data-confirm-h="Êtes-vous sûr ?" 
                               data-confirm-p="Cette action supprimera définitivement l'UE &quot;{{ue.nom}}&quot; ainsi que tout son contenu." 
                               data-confirm-l="Supprimer l'UE">Supprimer</a></li>

            <!-- Data Modeles -->
            <li><a class="go_mod_get_modeles_form go_and_assign"
                   data-assign='' href="{{ path('AlecsiaPopularModelsUE', {ue_id : ue.id}) }}">Modèles populaires</a></li>
                     {% endif %}

                       <li><a href="{{ path('AnnotationBundle_exportCSVNotesUE', {ue_id : ue.id}) }}"
                        {% if not ue.isAllSujetFrozen() %}
                        data-confirm-h="Êtes-vous sûr⋅e ?"
                        data-confirm-p="Cette action va exporter les notes de l'UE &quot;{{ue.nom}}&quot;, Les notes de certains sujets ne sont pas gelées, cela signifie qu'elles sont encore susceptibles de changer en modifiant des modèles."
                        data-confirm-l="Exporter les notes">
                        {% endif %}
                       <strong>Exporter les notes</strong></a></li>


                  </ul>
               </div>

            </div>

         </div>

         {% for group in ue.groups %}
            {% if group.owner == app.user %}
               {% include 'AnnotationBundle:EntityViews:group.html.twig' with {group: group} only %}
            {% endif %}
         {% endfor %}

      </div>
   </div>

{% endif %}

