/* Palette */
/* */
/* Mixins */
.enfonce {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(230, 230, 230, 0.7);
}
.releve {
  box-shadow: inset 0px 1px 0px rgba(230, 230, 230, 0.7), 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(0, 0, 0, 0.6);
}
.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#correctionUI {
  /* Header fixe */
  /* Fichier */
  /* Dossier */
  /*===============
	  = Annotations =
	  =============== */
  /* Highlighting */
  /* Bareme */
}
#correctionUI > .header {
  position: fixed;
  z-index: 500;
  top: 0px;
  width: 100%;
  min-width: 960px;
  height: 48px;
  background-color: #f3eee8;
  border-bottom: 1px solid #bcbab8;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
#correctionUI > .header > .infos {
  padding-left: 350px;
  display: inline-block;
}
#correctionUI > .header > .infogel {
  margin-left: 20px;
  margin-top: -3px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}
#correctionUI > .header > .barre_outils {
  margin: 10px;
}
#correctionUI > .header h1 {
  font-weight: normal;
  font-size: 15px;
  color: #006699;
  margin: 2.5em 2px 0 2px;
  background: #f3eee8;
  border-bottom: 1px solid #bcbab8;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  left: 350px;
  top: 5px;
}
#correctionUI > .header h2 {
  font-weight: normal;
  font-size: 15px;
  color: #666666;
  margin: 1em 2px;
}
#correctionUI > .header h2 + h1 {
  font-size: 11px;
  top: 18px;
}
#correctionUI > .contenu {
  margin-top: 50px;
}
#correctionUI .fichier {
  margin: 20px 20px 0 0;
}
#correctionUI .fichier > .annotation_panel {
  width: 350px;
  float: left;
}
#correctionUI .fichier > .fichier_panel {
  width: auto;
  position: relative;
  margin-left: 350px;
}
#correctionUI .fichier > .fichier_panel pre.geshi {
  position: relative;
}
#correctionUI .fichier > .fichier_panel pre.geshi ol {
  margin-left: 1em;
}
#correctionUI h2.folder {
  font-size: 25px;
  color: #eeeeee;
  box-shadow: inset 0px 1px 0px rgba(230, 230, 230, 0.7), 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-shadow: 0px 1px 1px #333333;
  background: rgba(40, 40, 40, 0.5);
  margin-bottom: 10px;
  padding-left: 360px;
}
#correctionUI li.annot {
  list-style: none;
  word-wrap: break-word;
}
#correctionUI li.annot * {
  cursor: pointer;
}
#correctionUI li.annot .header {
  font-size: 12px;
  font-weight: bold;
}
#correctionUI li.annot .contenu {
  font-size: 11px;
}
#correctionUI li.annot p {
  margin: 0;
}
#correctionUI li.annot .infos_annot {
  display: none;
}
#correctionUI li.annot .badge.neutre {
  display: none;
}
#correctionUI #ap_entete {
  margin-left: 350px;
  margin-right: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
#correctionUI #ap_entete ul {
  margin-bottom: 0;
}
#correctionUI #ap_entete li.annot {
  background: #f3eee8;
  position: relative;
  margin: 0;
  padding: 5px 5px 5px 35px;
}
#correctionUI #ap_entete li.annot .header {
  font-size: 15px;
  font-weight: normal;
  color: #333333;
}
#correctionUI #ap_entete li.annot .contenu {
  font-size: 12px;
  color: #666666;
}
#correctionUI #ap_entete li.annot.hover {
  background: #f0efcd;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-top: 4px;
  padding-bottom: 4px;
}
#correctionUI #ap_entete li.annot.lookatme {
  background: #dff0a8;
  color: #669933;
}
#correctionUI #ap_entete li.annot > .wrapper :before {
  display: block;
  width: 6px;
  height: 15px;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 11px;
  left: 11px;
  content: ' ';
}
#correctionUI #ap_entete li.annot .color_base :before {
  border-color: #666666;
}
#correctionUI #ap_entete li.annot .color_1 :before {
  border-color: #e1272b;
}
#correctionUI #ap_entete li.annot .color_2 :before {
  border-color: #e96f27;
}
#correctionUI #ap_entete li.annot .color_3 :before {
  border-color: #face28;
}
#correctionUI #ap_entete li.annot .color_4 :before {
  border-color: #79d40c;
}
#correctionUI #ap_entete li.annot .color_5 :before {
  border-color: #2a719d;
}
#correctionUI #ap_entete li.annot .color_6 :before {
  border-color: #e1272b;
}
#correctionUI #ap_entete li.annot .color_7 :before {
  border-color: #e96f27;
}
#correctionUI #ap_entete li.annot .color_8 :before {
  border-color: #face28;
}
#correctionUI #ap_entete li.annot .color_9 :before {
  border-color: #79d40c;
}
#correctionUI #ap_entete li.annot .color_0 :before {
  border-color: #2a719d;
}
#correctionUI .annotation_panel {
  position: relative;
}
#correctionUI .annotation_panel > ul {
  margin: 0;
}
#correctionUI .annotation_panel > ul > li.annot {
  position: absolute;
  width: 240px;
  margin: 0 90px 1px 20px;
  background: #f3eee8;
  color: #333333;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}
#correctionUI .annotation_panel > ul > li.annot > .wrapper {
  margin-right: 5px;
  padding: 3px 5px;
  border-right-width: 4px;
  border-right-style: double;
}
#correctionUI .annotation_panel > ul > li.annot.hover {
  background: #f0efcd;
  color: #663300;
}
#correctionUI .annotation_panel > ul > li.annot.lookatme {
  background: #dff0a8;
  color: #669933;
}
#correctionUI .annotation_panel canvas.apcan {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
}
#correctionUI .hlpool .hlannot div {
  display: none;
}
#correctionUI .hlpool .hlannot.active div {
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 204, 102, 0.4);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(100, 100, 100, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(100, 100, 100, 0.3);
}
#correctionUI #bareme {
  display: inline-block;
}
#correctionUI #bareme_panel {
  width: 280px;
}
#correctionUI #bareme_panel table {
  margin: 0;
}
#correctionUI #bareme_panel td {
  padding: 0 10px;
}
#correctionUI #bareme_panel tr.fexo {
  cursor: pointer;
}
#correctionUI #bareme_panel span.note {
  color: #006699;
  font-size: 1.3em;
  font-weight: normal;
}
#correctionUI #bareme_panel span.note.neutre {
  color: #333333;
}
#correctionUI #bareme_panel span.note.positif {
  color: #669933;
}
#correctionUI #bareme_panel span.note.negatif {
  color: #c44337;
}
#correctionUI #bareme_panel span.valeur {
  font-size: 0.8em;
  font-weight: normal;
  color: #4c9fdf;
}
#correctionUI #bareme_panel span.valeur:before {
  content: " / ";
}
#correctionUI #bareme_panel td.intitule p {
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#correctionUI #bareme_panel td.note {
  width: 80px;
}
#correctionUI .options_fin {
  margin-left: 350px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 10px;
}
/*=================
  = Couleurs exos =
  ================= */
li.annot > .wrapper.color_base {
  border-color: #666666;
}
li.annot > .wrapper.color_1 {
  border-color: #e1272b;
}
li.annot > .wrapper.color_2 {
  border-color: #e96f27;
}
li.annot > .wrapper.color_3 {
  border-color: #face28;
}
li.annot > .wrapper.color_4 {
  border-color: #79d40c;
}
li.annot > .wrapper.color_5 {
  border-color: #2a719d;
}
li.annot > .wrapper.color_6 {
  border-color: #e1272b;
}
li.annot > .wrapper.color_7 {
  border-color: #e96f27;
}
li.annot > .wrapper.color_8 {
  border-color: #face28;
}
li.annot > .wrapper.color_9 {
  border-color: #79d40c;
}
li.annot > .wrapper.color_0 {
  border-color: #2a719d;
}
/*==================
  = Modele Chooser =
  ================== */
#modelechooser_input {
  width: 630px;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 17px;
  background: #333333;
  border: 1px solid #666666;
  color: #cccccc;
}
#modelechooser_widget {
  position: fixed;
  z-index: 601;
}
/*==================
  =      TOC       =
  ================== */
#toc a {
  text-decoration: none;
}
#toc a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}
div#toc {
  background-color: rgba(182, 182, 182, 0.9);
  display: inline-block;
  padding: 3px;
  font-size: 14px;
  position: fixed;
  left: -180px;
  top: 80px;
  width: 180px;
  max-height: 80%;
  min-height: 70px;
  overflow: auto;
  padding-right: 15px;
  direction: rtl;
  box-shadow: 0px 0px 8px 2px rgba(51, 51, 51, 0.6);
  transition: left 0.5s, padding-right 0.5s, background-color 0.5s;
  border: solid 0px rgba(238, 238, 238, 0.4);
  z-index: 100;
}
div#toc:hover {
  background-color: rgba(51, 51, 51, 0.7);
  left: 0px;
  padding-right: 0px;
  border-width: 1px;
}
div#toc div {
  direction: ltr;
}
div#toc #index {
  display: block;
  position: absolute;
  top: 25px;
  right: -21px;
  color: white;
  color: rgba(51, 51, 51, 0.4);
  padding-right: 4px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
div#toc div.toc_folder a,
div#toc div.toc_file a {
  width: 90%;
  display: block;
  word-wrap: break-word;
}
div#toc div.toc_folder a {
  font-style: italic;
  margin-left: 5px;
  color: rgba(238, 238, 238, 0.5);
  font-size: smaller;
}
div#toc div.toc_file a {
  margin-left: 8px;
  font-size: smaller;
  color: #eeeeee;
}
