{#
    MODAL FORM :
    A form to help teachers
#}


<div class="jqmWindow" id="modal_help_teacher">
   <div class="header">
      <h2>Aidez moi !</h2>
   </div>
   <div class="contenu">
      <div class="widget">
         <div class="header">
            <h3>Où est la doc ?</h3>
         </div>
         <div class="contenu">
            <p>
               Une documentation utilisateur (pour les enseignants) est accessible
               soit en <a href="/doc/manual.html">version HTML</a> soit
               en <a href="/doc/manual.pdf">version PDF</a>.
            </p>
         </div>
         <div class="header">
            <h3>Où rapporter un bug ?</h3>
         </div>
         <div class="contenu">
            <p>
               Il est possible de rapporter un bug à partir de <a href="https://gforge.inria.fr/tracker/?atid=12975&group_id=3734&func=browse">la forge d'Alecsia</a>.
               C'est aussi l'occasion de préciser que le code source est
               librement téléchargeable sur cette même forge. Libre à vous de
               proposer des modifications !
            </p>
         </div>
         <div class="header">
            <h3>À qui envoyer un mail ?</h3>
         </div>
         <div class="contenu">
            <p>
               La
               liste <a href="mailto:alecsia@univ-lille1.fr">alecsia@univ-lille1.fr</a>
               est faite pour répondre aux soucis que vous pourriez rencontrer ou
               aux questions existentielles que vous vous posez (sur
               l'application).
            </p>
         </div>
      </div>
      <div class="ligne boutons">
         <div class="barre_outils droite">
            <button class="bouton jqmClose" type="button" tabindex="1" >Ok,
               merci !</button>
         </div>
      </div>

   </div>
</div>
