{#
    MODAL FORM :
    A form to manage unresgistered students
#}

{#
    Required variables
#}

{#
    Optional variables
#}

{% import 'AnnotationBundle:macros:users.html.twig' as user %}

<div class="jqmWindow" id="modal_manage_unregistered_grp_{{group.id}}">
   <div class="header">
      <h2>Gestion des étudiants non inscrits</h2>
   </div>
   <div class="contenu">
      <form method="POST" action="{{path('AlecsiaManageUnregisteredStudents')}}">
         {# Prepare the code for selecting the registered students, if any #}
         {% set rec_students = '' %}
         {% for student in group.students|strobjectsort(['getLastName','getLogin']) %}
            {% if student.registered %}
               {% set rec_students = rec_students ~ '<option value="' ~ student.login ~ '">' ~ student.getAbsoluteDisplayName ~'</option>' %}
            {% endif %}
         {% endfor %}
         {% if rec_students is empty %}
            {# If no student if registered, we can't merge anyone ! #}
            <p class="no_registered_student">Aucun étudiant n'est encore enregistré dans le groupe. Il n'est donc pas possible de fusionner le compte d'un étudiant non inscrit, avec celui d'un inscrit.</p>
         {% else %}
            {% set rec_students = '<option selected="selected"></option>' ~ rec_students ~ '' %}

            <table class="tableSelect manage_unregistered">
               <thead>
                  <tr>
                     <td><h3>Non enregistrés</h3></td>
                     <td><h3>Enregistrés</h3></td>
                  </tr>
               </thead>

               <tbody>
                  {% for student in group.students|strobjectsort('getLastName') %}
                     {% if not(student.registered) %}
                        <tr>
                           <td>{{ user.displayUserName(student) }}</td>
                           <td><select class="registered_students" name="registered_student[{{student.id}}]">{{ rec_students | raw }}</select></td></tr>
                           {% endif %}
                        {% endfor %}
               </tbody>
            </table>
         {% endif %}

         <input type="hidden" id="group_id" name="group_id" value="{{group.id}}" />

         <p class="tip">
            Associer un compte enregistré à un compte non enregistré permet de
            mettre tous les rendus de l'étudiant concerné sous le même compte
            (celui qui est enregistré) et supprime le compte non enregistré.
         </p>
         <div class="ligne boutons">
            <div class="barre_outils droite">
               <button class="bouton jqmClose" type="button" tabindex="12" >Annuler</button>
               <button type="submit" class="bouton strong">Fusionner les comptes</button>
            </div>
         </div>
      </form>
   </div>
</div>
