{#
    MODAL FORM :
    A form to modify a UE.
#}

{#
    Required variables
#}

{#
    Optional variables
#}

<div class="jqmWindow" id="mod_ue_form">
   <div class="header">
      <h2>Renommer l'UE</h2>
   </div>
   <div class="contenu">
      <form method="POST" action="{{path('AlecsiaUpdateUE') }}">
         <input type="hidden" id="mod_ue_id" name="ue_id" value="-1" />
         <div class="widget">
            <div class="header">
               <h3>Nouveau nom</h3>
            </div>
            <div class="contenu">
               <div class="ligne" style="padding-left: 5px">
                  <input type="text" id="mod_ue_nom_court" name="nom_court" class="initfocus" placeholder="Nom court" maxlength="10" size="10"/>
                  <input type="text" id="mod_ue_nom" class="wL" name="nom" placeholder="Nom complet" />
               </div>
            </div>
         </div>


         <div class="ligne boutons">
            <div class="barre_outils droite">
               <button class="bouton jqmClose" type="button" tabindex="12" >Annuler</button>
               <button type="submit" class="bouton strong">Renommer</button>
            </div>
         </div>

      </form>

   </div>
</div>