{# 
        Détermine l'affichage d'une annotation 
        Ressource connue : a, fichier
#}
{% if not(lookatme is defined) %}
   {% set additional_classes = '' %}
{% else %}
   {% set additional_classes = 'lookatme' %}
{% endif %}

{% if lectureetudiant is not defined %}
   {% set lectureetudiant = false %}
{% endif %}


<li id="an_{{a.id}}" class="annot {{additional_classes}}">
   <div class="infos_annot">
      <div class="dl">{{a.debutligne}}</div>
      <div class="dc">{{a.debutcolonne}}</div>
      <div class="fl">{{a.finligne}}</div>
      <div class="fc">{{a.fincolonne}}</div>

      {% if not(a.exercice is none) %}
         <div class="ex">{{a.exercice.id}}</div>
      {% else %}
         <div class="ex">null</div>
      {% endif %}

      {% if not(a.fichier is none) %}
         <div class="f_id">{{a.fichier.id}}</div>
      {% else %}
         <div class="f_id">null</div>
      {% endif %}

      {% if not(a.modele is none) %}
         <div class="m_id">{{a.modele.id}}</div>
      {% else %}
         <div class="m_id">null</div>
      {% endif %}
   </div>

   {% if a.exercice is none %}
      {% set colorex = "base" %}
   {% else %}
      {% set colorex = (a.exercice.numero % 10) %}
   {% endif %}

   {% include 'AnnotationBundle:Correction:Fichier/annotation_core.html.twig' with {name: a.nom, showMark: not(lectureetudiant) or rendu.sujet.isConsultable, value: a.valeurformatee, comment: a.commentaire, pole: a.pole, exo_color: colorex, exo: a.exercice} %}
</li>

