{# Références connues :
   fichier
   annotations
#}

<div class="fichier">
   {% if not(fichier.exclus) %}

      {# Annotations #}
      <div class="annotation_panel">
         <ul id="ap_{{fichier.id}}">
            {% for a in annotations %}
               {% include 'AnnotationBundle:Correction:Fichier/annotation.html.twig' %}
            {% endfor %}
         </ul>
         <canvas id="apcan_{{fichier.id}}" class="apcan"/>
      </div>

      {# Fichiers #}
      <div class="fichier_panel" id="f_{{fichier.id}}">
         <div class="widget">
            <div class="header">
               <h3>{{fichier.nomFichier}}</h3>
            </div>
            {% if not fichier.exists %}
            <div class="vide">
              <p class="header">
                Fichier supprimé
              </p>
            </div>
            {% else %}
            <div id="cp_{{fichier.id}}" class="contenu">
               {{ fichier.contenu | viewAlecsiaFile(fichier.langage.idGeshi, fichier.nomFichier) }}
            </div>
            {% endif %}
         </div>
      </div>

      <hr class="clear"/>
   {% endif %}    
</div>
