{# Formulaire ajout/suppression annotations #}



<div class="jqmSuperModal modif" id="modal_ask_propag">
   <div class="header">
      <h3>Que modifier ?</h3>
   </div>
   <div class="contenu">
      <p>
         <strong>Cette annotation est liée à un modèle.</strong>
         Souhaitez-vous appliquer vos modifications uniquement sur cette annotation, 
         ou sur le modèle tout entier?
      </p>
      <div class="ligne boutons">
         <div class="barre_outils gauche modif">
            <button class="bouton" type="button" id="propag_yes"  >Le modèle</button>
         </div>
         <div class="barre_outils droite">
            <button class="bouton jqmClose" type="button"  >Annuler</button>
            <button type="submit" class="bouton strong initfocus" id="propag_no" >Cette annotation uniquement</button>
         </div>
      </div>
   </div>
</div>

<div class="jqmWindow noanimate" id="modal_add_annotation">
   <div id="modelechooser_widget">
      <input 
         type="hidden" 
         id="modelechooser_url" 
         value="{{ path('AnnotationBundle_getModeles', { 'sujet_id': rendu.sujet.id }) }}"
         />
   </div>
   <div class="header">
      <input class="initfocus" id="modelechooser_input" name="modelechooser" type="text" />
      <h2 class="add" id="addannot_header">Annoter le rendu</h2>
      <h2 class="modif">Modifier l'annotation</h2>
   </div>
   <div class="contenu">
      <form id="form_manage_annotation" data-addaction="{{path('AnnotationBundle_ajouterAnnotation')}}" data-modifaction="{{path('AnnotationBundle_modifierAnnotation')}}" data-delaction="{{path('AnnotationBundle_supprimerAnnotation')}}" method="POST">
         <!-- hiddens -->
         <input type="hidden" name="rendu_id" id="fma_rendu_id" value="{{rendu.id}}" />
         <input type="hidden" name="annot_id" id="fma_annot_id" value="-1" />
         <input type="hidden" name="debutligne" id="fma_debutligne" value="1" />
         <input type="hidden" name="debutcolonne" id="fma_debutcolonne" value="1" />
         <input type="hidden" name="finligne" id="fma_finligne" value="4" />
         <input type="hidden" name="fincolonne" id="fma_fincolonne" value="10" />
         <input type="hidden" name="fichier_id" id="fma_fichier_id" value="1" />

         <input type="hidden" name="modele_id" id="fma_modele_id" value="-1" />
         <input type="hidden" name="propager" id="fma_propager" value="0" />
         <input type="hidden" name="makemodelein" id="fma_makemodelein" value="-1" />

         <!-- real inputs -->
         <div class="ligne">
            <input type="text" name="nom" id="fma_nom"  class="XL t80 initfocus" placeholder="Titre" tabindex="1" /><input type="text" name="valeur" id="fma_valeur"  class="XL t20 collapse" placeholder="Valeur" tabindex="2" />
         </div>

         <div class="ligne collapse">
            <textarea tabindex="3" name="commentaire" id="fma_commentaire" class="fluid S" rows="5" placeholder="Commentaire" ></textarea>
         </div>

         <div class="ligne hl">
            <label for="fma_exercice">Exercice</label>
            <select tabindex="4" name="exercice" id="fma_exercice" >
               <option value="-1">Bonus / Malus</option>
               {% for exercice in exercices %}
                  <option value="{{exercice.id}}">{{exercice.numero}}. {{exercice.nom}}</option>
               {% endfor %}
            </select>                
         </div>



         <div class="ligne boutons">
            <div class="barre_outils gauche modif">
               <button tabindex="6" class="bouton rouge" type="button"  id="fma_delete">Supprimer l'annotation</button>
            </div>
            <div class="barre_outils droite">
               <button tabindex="5" class="bouton jqmClose" type="button" >Annuler</button>
               <button tabindex="4" type="submit" class="bouton strong"  id="fma_submit">Annoter</button>
            </div>
         </div>
      </form>
   </div>
</div>
