
{% extends 'AnnotationBundle:Dashboard:layout.html.twig' %}


{% block titre %}
   Promotions actuelles - {{ parent() }}
{% endblock %}

{% block contenu %}

   {% if promos[1] is defined %}
      <div class="container_24">
         <div class="grid_19">
            &nbsp;
         </div>
         <div class="grid_5 outils droite">
            <button class="bouton beige_fonce L action_dd">
               Gérer promotions&nbsp;<span class="triangle-down-gf"></span>
            </button>
            <div class="panel_dd right">
               <ul class="liste_choix">
                  <li><a href="{{ path('AnnotationBundle_archiverPromos', {})}}" 
                         data-confirm-h="Êtes-vous sûr ?"
                         data-confirm-p="Cette action placera définitivement l'ensemble des promotions en cours dans la section Archives."
                         data-confirm-l="Archiver les promotions">Archiver toutes les promotions</a></li>
               </ul>
            </div>
            <div class="clear"></div>
         </div>
      </div>
   {% endif %}

   {% for promo in promos %}

      {% include 'AnnotationBundle:Dashboard:Promotion/promotionunique.html.twig' with {promo: promo, autres_promos: autres_promos} only%}


   {% endfor %}


{% endblock %}


{% block modals %}
   {{ parent() }}
   {% include 'AnnotationBundle:Dashboard:Promotion/nouveauSujetForm.html.twig' %}
   {% include 'AnnotationBundle:Dashboard:Promotion/renommerUeForm.html.twig' %}
   {% include 'AnnotationBundle:Dashboard:renommerForm.html.twig' with 
        {objet: "promo", objet_fr: "la promotion", url_action: (path('AnnotationBundle_modifierPromo')) } only%}
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script src="{{ asset('bundles/annotation/js/Dashboard/NouveauSujetForm.js') }}"></script>
{% endblock %}


{% block js_startup %}


{% endblock %}
