{# Affiche la liste des rendus #}
{# Variables requises : rendus,sujet #}

{% import 'AnnotationBundle:macros:notes.html.twig' as notes %}
{% import 'AnnotationBundle:macros:users.html.twig' as user %}


{% if rendus is empty %}
   <div class="vide">
      <p class="header">Aucun rendu</p>
      <p class="contenu"><button class="bouton go_import_archive_form" >Nouveau rendu</button></p>
   </div>

{% else %}
   <form class="nomargin" method="post" action="{{path('AnnotationBundle_gererRendus')}}">

      {% if not(lectureseule) %}
         <div class="barre_outils block left">
            <button type="button" class="bouton activator_all" data-table="sel_listerendus">
               <span class="ico_cochevide"></span>
            </button>
            <button class="bouton go_import_archive_form" >Nouveau rendu</button>
            <div class="barre_outils droite">
               <button id="marquercomme" class="action_dd bouton beige invisible" data-selectiondependant="sel_listerendus">Marquer comme <span class="triangle-down-gf"></span></button>
               <div class="panel_dd right">
                  <ul class="liste_choix">
                     <li><a href="#" data-action="marquernonfini">En cours de correction</a></li>
                     <li><a href="#" data-action="marquerfini">Terminé</a></li>
                  </ul>
               </div>
               <button class="bouton rouge invisible" 
                       data-selectiondependant="sel_listerendus" 
                       data-action="supprimer" 
                       data-confirm-h="Êtes-vous sûr ?" 
                       data-confirm-p="Cette action supprimera les rendus sélectionnés ainsi que toutes les annotations qu'ils contiennent." 
                       data-confirm-l="Supprimer les rendus">
                  Supprimer</button>
            </div>
         </div>
         {% include 'AnnotationBundle:Dashboard:Etudiants/globalMailForm.html.twig' with {ue: sujet.ue} only %}
      {% endif %}
      <input type="hidden" name="action" value="no"/>
      <input type="hidden" name="sujet" value="{{sujet.id}}"/>
      <input type="hidden" name="group_id" value="{{group_id}}"/>
      <table class="tableSelect borderless espace selectionFire" id="sel_listerendus">
         <!-- <thead>
         {% if not(lectureseule) %}
         <td class="c"></td>
         {% endif %}
         <td {% if lectureseule %} style="padding-left:15px"{%endif%}>Rendu</td>
         <td class="c t15">Note</td>
     </thead> -->
         <tbody>
            {% for rendu in rendus|strarraysort(['getTermine', 'getNom']) %}
               <tr>
                  {% if not(lectureseule) %}
                     <td class="c checkbox"><input type="checkbox" class="activator" name="rendu[{{rendu.id}}]"/></td>
                     {% endif %}
                  <td {% if lectureseule %} style="padding-left:15px"{%endif%}>
                     <a href="{{ path('AnnotationBundle_corriger', {'rendu_id': rendu.id}) }}">
                        {% if rendu.students is not empty %}
                           {% for etu in rendu.students %}
                              <span class="studentName">{{user.displayUserName(etu)}}</span>
                           {% endfor %}
                           <span class="rendu_etudiants">{{rendu.nom}}</span>
                        {% else %}
                           {{rendu.nom}}
                        {% endif %}
                        {% if rendu.termine %}<span class="precision bleu_ciel">Terminé</span>{% endif %}
                     </a>
                  </td>
                  <td class="t15 c">
                     {% if rendu.termine %}
                        {{notes.afficherNote(rendu.note,sujet.notesur,sujet.SubjectGuts)}}
                     {% else %}
                        -
                     {% endif %}
                  </td>
               </tr>


            {% endfor %}
         </tbody>
      </table>
   </form>
{% endif %}
