{# 
    - objet
    - objet_fr
    - url_action

#}

{% import 'AnnotationBundle:macros:pluriels.html.twig' as mot %}

<div class="jqmWindow" id="mod_{{objet}}_form">
   <div class="header">
      <h2>Renommer {{objet_fr}}</h2>
   </div>
   <div class="contenu">
      <form method="POST" action="{{url_action}}">
         <input type="hidden" id="mod_{{objet}}_id" name="{{objet}}_id" value="-1" />
         <div class="widget">
            <div class="header">
               <h3>Nouveau nom</h3>
            </div>
            <div class="contenu">
               <div class="ligne" style="padding-left: 5px">
                  <input type="text" id="mod_{{objet}}_nom" class="wL initfocus" name="nom" placeholder="Nom" />
               </div>
            </div>
         </div>


         <div class="ligne boutons">
            <div class="barre_outils droite">
               <button class="bouton jqmClose" type="button" tabindex="12" >Annuler</button>
               <button type="submit" class="bouton strong">Renommer</button>
            </div>
         </div>

      </form>

   </div>
</div>