{# Convert an interger mark to a float Mark #}
{# 1 will give A, 2 will give B and so on #}
{% macro integerToLetterMark(mark) %}
  {{ (65 + mark - 1) | chr }}
{% endmacro %}


{# Format the mark either in numerical form or letter form #}
{% macro getFormattedMark(mark, maximalMark, steps) %}
{% spaceless %}
  {% import _self as notes %}
  {% if steps > 0 %}
    {% set currentStep = (mark * (steps-1) / maximalMark) | round %}
    {{ notes.integerToLetterMark(steps - currentStep) }}
  {% else %}
    {{ mark | number_format(2) }}
  {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro markExplanation(bareme) %}
  {% import _self as notes %}
  {% set globalMark = bareme.sujet.Notesur %}
  {% set first = true %}
  {% for exercise in bareme.exercices %}
    {% set exo = exercise['exercice'] %}
    {% if not first %}
    +
    {% endif %}
    {% set first = false %}
    {% set proportionInGlobalMark = (exo.valeur * 100 / globalMark) | round %}
    {{ proportionInGlobalMark }}&nbsp;% * {{ notes.getFormattedMark(exercise['note'], exo.valeur, exo.ExerciceGuts) }}
  {% endfor %}
  &nbsp;=&nbsp;{{notes.getFormattedMark(bareme.noteFinale, bareme.sujet.notesur, bareme.sujet.subjectGuts)}}
{% endmacro %}

{% macro afficherNote(note,valeur,steps,id) %}
  {% import _self as notes %}
   {% if note == constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK') or valeur == constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK') %}
      <span class="badge" title="Pas de barème, pas de note">?</span>
   {% else %}

      {# Appreciation #}
      {% if note >= (valeur * 75) / 100 %}
         {% set appreciation = "positif" %}
      {% else %}
         {% set appreciation = "" %}
         {% if note < (valeur * 50) / 100 %}
            {% set appreciation = "negatif" %}
         {% endif %}

      {% endif %}

      {# Id #}
      {% if not(id is null) %}
         {% set id = 'id = '~id %}
      {% endif %}

      {# Macro #}
      <span class="badge {{appreciation}}" {{id}} >
        {{ notes.getFormattedMark(note, valeur, steps) }}
      </span>
   {% endif %}
{% endmacro %}

{% macro afficherNoteSur(note,valeur,steps,id) %}
  {% import _self as notes %}

   {% set no_mark =  (note == constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK') or valeur == constant('Alecsia\\AnnotationBundle\\Entity\\Rendu::NO_MARK')) %}


   {# Appreciation #}
   {% set appreciation = "" %}
   {% if not no_mark %}
      {% if note >= (valeur * 75) / 100 %}
         {% set appreciation = "positif" %}
      {% else %}
         {% if note < (valeur * 50) / 100 %}
            {% set appreciation = "negatif" %}
         {% endif %}
      {% endif %}
   {% endif %}

   {# Id #}
   {% if not(id is null) %}
      {% set id = 'id = '~id %}
   {% endif %}

   {# Macro #}
   <div class="note  {{appreciation}}">
      {% if no_mark %}
         <span class="commentaire">Non noté</span>
      {% else %}
         <span class="valeur"> {{notes.getFormattedMark(note,valeur,steps)}}</span>
         {% if steps == 0 %}
         <span class="notesur">{{valeur}}</span>
         {% else %}
         <span class="notesur">{{notes.integerToLetterMark(steps)}}</span>
         {% endif %}
      {% endif %}
   </div>
{% endmacro %}
