{#
    SCREENFUL :
    Show a screenful with the current UEs.
#}

{#
    Required variables
    - Group[] groups
    - Group[] activeGroups
    - string    h_corriger
    - string    h_archives
#}

{#
    Optional variables
    -
#}

{% extends 'AnnotationBundle:Dashboard:layout.html.twig' %}


{% block titre %}
   UE en cours - {{ parent() }}
{% endblock %}

{% block contenu %}

   <div class="container_24">
      <div class="header">
         <div class="grid_19">
            <h2>UE en cours</h2>
         </div>
         <div class="grid_5 outils droite">
            <button class="go_form_newUe bouton beige_fonce L">Nouvelle UE</button>
         </div>
         <div class="clear"></div>
      </div>


      {% if ues is empty %}
         <div class="partie">
            <div class="vide">
               <p class="header">Aucune UE</p>
               <p class="contenu">
                  <button class="bouton go_form_newUe">Nouvelle UE</button>
               </p>
            </div>
         </div>
      {% else %}
         {% for ue in ues | arraysort('getYear', 'getId') | reverse %}
            {% include 'AnnotationBundle:EntityViews:ue.html.twig' with {ue:ue} only%}
         {% endfor %}
      {% endif %}

      <div class="clear"></div>
   </div>

{% endblock %}


{% block modals %}
   {{ parent() }}

   {% for ue in ues %}
      {% for group in ue.groups %}
         {% include 'AnnotationBundle:ModalForms:manageUnregistered.html.twig' with {group:group} only %}
      {% endfor %}
   {% endfor %}

   {% include 'AnnotationBundle:ModalForms:newUEForm.html.twig' with {archivedUes:archivedUes} only%}
   {% include 'AnnotationBundle:ModalForms:newGroupForm.html.twig'%}
   {% include 'AnnotationBundle:ModalForms:updateUEForm.html.twig' with {} only%}
   {% include 'AnnotationBundle:ModalForms:updateGroupForm.html.twig' with {} only%}
   {% include 'AnnotationBundle:ModalForms:newAssignmentForm.html.twig' %}
   {% include 'AnnotationBundle:ModalForms:studentUEForm.html.twig' %}


{% endblock %}

{% block javascripts %}
   {{ parent() }}

   <script src="{{ asset('bundles/annotation/js/Dashboard/NouveauSujetForm.js') }}"></script>
   <script src="{{ asset('bundles/annotation/js/Dashboard/iconHelp.js') }}"></script>
{% endblock %}


{% block js_startup %}

{% endblock %}
